<head>
	<title>Story 1 - Biodata Diri</title>
</head>

<body>
	<div>
		<img src="D:\PPW2018\story1\feriyal.jpg" height="250px" width="200px" />
	</div>
	<div>
		<p><strong>Nama: </strong>Firriyal Bin Yahya</p>
		<p><strong>NPM: </strong>1706979240</p>
		<p><strong>Tempat Kuliah: </strong>Universitas Indonesia</p>
		<p><strong>Hobi: </strong>Baca cerita, nonton film, main game, dan mendengarkan musik</p>
		<p><strong>Deskripsi Diri: </strong>Saya seorang mahasiswa yang sedang menuntut ilmu komputer.</p>
	</div>
</body>