<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body bgcolor='fuchsia'>
  <div>
	<img src='https://i.imgur.com/0vouuZX.jpg' height="250px" width="200px" />
    <h1><font face="Century Gothic" color="purple">Hello my name is {{ name }}</font></h1>
    <article><font face="verdana" color="black">NPM : {{ npm }}</font></article>
    <article><font face="verdana" color="black">I am {{ age }} years old</font></article>
	<article><font face="verdana" color="black">Tempat Kuliah : {{kuliah}}</font></article>
	<article><font face="verdana" color="black"><Hobi : {{hobby}}</font></article>
	<article><font face="verdana" color="black">About me : {{about_me}}</font></article>
	<p><br></p>
  </div>
  <div>
	<img src='http://the-web-joe.herokuapp.com/static/lab_01/selfie.jpg' height="250px" width="200px" />
    <h1><font face="Century Gothic" color="green">My friend name is {{ teman1name }}</font></h1>
    <article><font face="verdana" color="black">NPM : {{ teman1npm }}</font></article>
    <article><font face="verdana" color="black">He was born on {{ teman1umur }}</font></article>
	<article><font face="verdana" color="black">Tempat Kuliah : {{kuliah}}</font></article>
	<p><br></p>
  </div>
  <div>
	<img src='http://www.about.tarung2017.com/foto/617.jpg' height="250px" width="200px" />
    <h1><font face="Century Gothic" color="purple">My friend name is {{ teman2name }}</font></h1>
    <article><font face="verdana" color="black">NPM : {{ teman2npm }}</font></article>
    <article><font face="verdana" color="black">She was born on {{ teman2umur }}</font></article>
	<article><font face="verdana" color="black">Tempat Kuliah : {{kuliah}}</font></article>
  </div>
  
</body>
</html>
